<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/admin/style.css" />
  </head>
  <body>
    <!-- header  -->

    <%- include('../../partials/admin/header.ejs')%>
    <!-- middle  -->
    <section id="mid">
      <div class="container-fluid">
        <div class="row">
          <%- include('../../partials/admin/left.ejs')%>
          <div class="col-md-9">
            <h2>parking page</h2>
            <div>
              <a href="/admin/parkingform"
                ><button class="btn btn-success mb-3">Add vehicle</button></a
              >
            </div>
            <table class="table table-striped table">
              <tr>
                <th>vehicle no</th>
                <th>vehicle type</th>
                <th>vehicle in</th>
                <th>vehicle out</th>
                <th>amount</th>
                <th>Action</th>
              </tr>
              <% parkingRecord.forEach((res)=>{%>

              <tr>
                <td><%= res.vno%></td>
                <td><%= res.vtype%></td>
                <td><%= res.vin%></td>
                <td><%= res.vout%></td>
                <td><%= res.amount%></td>
                <td>
                  <div class="d-flex">
                    <a
                      href="/admin/parkingdelete/<%= res._id%>"
                      class="btn btn-danger align-item-center h-25 m-2"
                    >
                      Delete
                    </a>
                    <% if(res.vout){%>
                    <a
                      href="/admin/parkingout/<%= res._id%>"
                      class="d-none btn btn-info align-item-center h-25 m-2"
                      >Out</a
                    >
                    <a href="/admin/waytoprint/<%= res.id%>"
                      ><button class="btn btn-primary m-2">print</button></a
                    >

                    <%}else{%>
                    <a
                      href="/admin/parkingout/<%= res._id%>"
                      class="btn btn-info align-item-center h-25 m-2"
                      >Out</a
                    >

                    <%}%>
                  </div>
                </td>
              </tr>
              <%})%>
            </table>
          </div>
        </div>
      </div>
    </section>

    <!-- footer  -->
    <%- include('../../partials/admin/footer.ejs')%>
  </body>
</html>
